language: node_js
node_js:
  - "0.10"
  - 4.2
  - stable
jdk:
  - oraclejdk8
before_script:
  - ./ci/initialize-ci.sh $ORIENTDB_VERSION
env:
  - ORIENTDB_VERSION=2.1.11 CXX=g++-4.8
  - ORIENTDB_VERSION=2.2.0-SNAPSHOT CXX=g++-4.8
addons:
  apt:
    sources:
       - ubuntu-toolchain-r-test
    packages:
       - gcc-4.8
       - g++-4.8
