language: node_js
dist: trusty
node_js:
  - 6
  - 8
  - stable
jdk:
  - oraclejdk8
before_script:
  - ./ci/initialize-ci.sh $ORIENTDB_VERSION
env:
  - ORIENTDB_VERSION=2.2.34 CXX=g++-4.8
  - ORIENTDB_VERSION=3.0.0 CXX=g++-4.8
  - ORIENTDB_VERSION=3.0.1-SNAPSHOT CXX=g++-4.8

addons:
  apt:
    sources:
       - ubuntu-toolchain-r-test
    packages:
       - gcc-4.8
       - g++-4.8
       - oracle-java8-installer
       - oracle-java8-set-default

after_script:
  - NODE_ENV=test istanbul cover ./node_modules/mocha/bin/_mocha ./node_modules/mocha/bin/_mocha ./test/index.js ./test/**/*.js ./test/**/**/*.js  ./test/**/**/**/*.js ./test/**/**/**/**/*.js --report lcovonly -- -R spec && cat ./coverage/lcov.info | ./node_modules/coveralls/bin/coveralls.js && rm -rf ./coverage
