language: node_js
dist: trusty
node_js:
  - 6
  - 8
  - stable
jdk:
  - oraclejdk8
before_script:
  - ./ci/initialize-ci.sh $ORIENTDB_VERSION
env:
  - ORIENTDB_VERSION=2.2.36 CXX=g++-4.8
  - ORIENTDB_VERSION=3.0.18 CXX=g++-4.8
  - ORIENTDB_VERSION=3.0.19-SNAPSHOT CXX=g++-4.8

addons:
  apt:
    sources:
       - ubuntu-toolchain-r-test
    packages:
       - gcc-4.8
       - g++-4.8


after_success: npm run coverage
